<!doctype html>
<html lang="ko">

<head>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="../static/SubCareer.css">
  <link rel="icon" href="/static/images/0000-all-logo.png">
</head>

<body>
  <div class="wrap">
    <a name="0"> </a>
    <!-- 헤더 -->
    <div class="intro_bg">
      <img src="../static/images/0000-all-상단배너.png" alt="">
      <div class="header">
        <div class="left_logo_img">
          <a href="{{ url_for('home_page') }}"><img src="../static/images/0000-all-logo.png" alt=""></a>
        </div>
        <ul class="nav">
          <li><a href="{{ url_for('team') }}">Team</a></li>
          <li><a href="{{ url_for('procect') }}">Project</a></li>
          <li><a href="{{ url_for('introduction') }}">Introduction</a></li>
          <li><a href="{{ url_for('qna') }}">Q&A</a></li>
          <li><a href="{{ url_for('main_page') }}">Hub</a></li>
        </ul>
        <ul class="right_button">
					<li><a href="https://github.com/CM-html/test" target="_blank"><img src="../static/images/0000-all-git.png" alt=""></a></li>
					<li><a href="https://www.facebook.com/CM-%EB%8F%99%EC%95%84%EB%A6%AC-109222635034327" target="_blank"><img
								src="../static/images/0000-all-facebook.png" alt=""></a></li>
					<li><a href="https://www.instagram.com/cm_club_2022/" target="_blank"><img src="../static/images/0000-all-instagram.png"
								alt=""></a></li>
				</ul>
      </div>
    </div>
    <!-- intro end-->
    <ul class="amount">
      <li>
        <div>
          <div class="contents1">김현우</div>
          <div class="result">Leader</div>
        </div>
      </li>
      <li>
        <div>
          <div class="contents1">강재형</div>
          <div class="result">Member</div>
        </div>
      </li>
      <li>
        <div>
          <div class="contents1">김겸</div>
          <div class="result">Leader</div>
        </div>
      </li>
      <li>
        <div>
          <div class="contents1">이도연</div>
          <div class="result">Member</div>
        </div>
      </li>
    </ul>
    <div class="main_text0">
      <ul class="icons">
        <li class="test1">
          <div class="icon_img">
          </div>
        </li>
        <li class="test2">
          <div class="icon_img">
          </div>
        </li>
        <li class="test3">
          <div class="icon_img">
          </div>
        </li>
        <li class="test4">
          <div class="icon_img">
          </div>
        </li>
      </ul>
    </div>
    <div class="main_text1">
      <hr>
      <h1>CM-Career</h1>
      <div class="contents4">2021년 CM동아리 경력</div>
      <br>
      <hr>
    </div>

    <a name="1"></a>
    <div class="main_text1-1">
      <div class="service">
        <div class="divflax">
          <img src="../static/images/2021-Net-모집포스터.jpg">
        </div>
        <div class="divflax">
          <div class="contents2">
            <h2>넷마블 게임 아카데미</h2>
            참가멤버 : CM팀(이도연)<br>
            게임 이론이나 고정관념의 관한 인식 교육을 받고, 멘토들에게 피드백<br>
            받는걸 중심으로 자기들만의 게임을 팀별로 만들어가면서 <br>
            어려운점은 팀원들과 상의하거나 멘토들에게 교육 받았다. <br>
            특별교육으로 강사를 초청해서 각 게임 개발 분야 그래픽, 기획, <br>
            프로그래밍 교육을 더욱 전문적으로 배우면서 게임을 완성시켰다. <br>
            <br><br>
            <br><br><br><br><br><br>
            <p class="contents1_bold">
              2022/01/12 대회중...
            </p>
          </div>
        </div>
      </div>
    </div>

    <a name="2"></a>
    <div class="main_text1-2">
      <div class="service">
        <div class="divflax">
          <div class="contents2">
            <h2>Hello New World! 해커톤 2021</h2>
            참가멤버 : CM팀(김현우, 김겸, 이도연)<br>
            코로나 블루 환자 치료를 위해 메타버스 프로그램인 New Life의 프로젝트 계획을<br>
            발표하여 대상을 받아 200만원의 후속지원을 받게 되었다.<br>
            그렇게 4개월이라는 시간동안 CM팀은 지원받은 200만원 으로 New Life를 완성시켰으며<br>
            결과발표에서도 실수 없이 완벽하게 진행되었으며 심사위원에게 좋은 평가를 받으며<br>
            50만원을 더 지원받게 되어 더욱 완벽한 퀄리티로  개발중이다.<br>
            <br><br><br><br><br><br>
            <p class="contents1_bold">
              2021/07/30 대회중...
            </p>
          </div>
        </div>
        <div class="divflax img_right">
          <img src="../static/images/2021-Hello New World-대회소감.jpg" width="640px" height="427px">
        </div>
      </div>
    </div>
    <a name="3"></a>
    <div class="main_text1-3">
      <div class="service">
        <div class="divflax">
          <img src="../static/images/2021-Whitehacker-대회결과.jpg" width="640px" height="427px">
        </div>
        <div class="divflax">
          <div class="contents2">
            <h2>온라인 화이트해커 경진대회 2021</h2>
            참가멤버 : 구경만할게요팀(강재형), 김황서이팀(김현우)<br>
            CM동아리의 강재형과 김현우가 지원했으며 둘 다 AI면접 통과로 정보보안 수업을 <br>
            듣게 되었다. 수업은 7월초 부터 10월말 까지 진행되었으며 웹보안, 네트워크보안 <br>
            등등 많은 종류의 보안을 배웠다. 둘 다 10월말까지 문제 없이 수업을 들었으며 <br>
            11월초에 있는 대회에 각 팀으로 참가하게 되었다. 두명 다 대회에서 각 대상 <br>
            (구경만할게요팀)과 입상(김황서이팀)를 하며 좋은 성적을 거두었다.<br>
            <br><br><br><br><br><br>
            <p class="contents1_bold">
              2021/11/06 대회중...
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="main_text1-4">
      <div class="service">
        <div class="divflax">
          <div class="contents2">
            <h2>2021 신나는 SW·AI 교육 수기 공모전</h2>
            참가멤버 : CM팀(김현우)<br>
            선생님의 권유로 수기 공모전에 참가하여 초등학생때 부터 게임으로 접한 <br>
            나의 SW 시작과 코로나로 인한 무의미한 생활, 그리고 대회 출전으로 <br>
            본격적인 SW에 뛰어들었던 내 이야기를 "나의 소프트웨어 스토리" 라는 <br>
            이름으로 수기를 작성해 공모전에 참가하였다. <br>
            그결과 최우수상(과학기술정보통신부장관상)으로 좋을 성적을 거두게 되었다. <br>
            <br><br><br><br><br><br>
            <p class="contents1_bold">
              2022/01/12 대회중...
            </p>
          </div>
        </div>
        <div class="divflax img_right">
          <img src="../static/images/2021-Career-수기공모전.jpg" width="640px" height="427px">
        </div>
      </div>
    </div>
    <div class="main_text3">
    </div>
    <footer>
      <div class="footer_flex-1">
        CM club <br>
        <div class="br_class1"></div>
        부장: 김현우 │ 이메일: khuoo4603@gmail.com<br>
        담당 교사: 전창영 │ 전화번호: 070-7875-3423 │ 이메일: wjs7901@korea.kr<br>
        학교 주소: 경기도 부천시 심곡본1동 768-9 │ 위치: 경기경영고등학교 5층 CM동아리실<br>
        <div class="br_class1"></div>
        <hr>
        <div class="br_class1"></div>
        ⊙ Something nice, but useless sentences
      </div>
      <div class="footer_flex-2">
        <a href="{{ url_for('team') }}">Team<br></a>
        <a href="{{ url_for('procect') }}">Project<br></a>
        <a href="{{ url_for('introduction') }}">Introduction<br></a>
        <a href="{{ url_for('qna') }}">Q&A<br></a>
        <a href="{{ url_for('main_page') }}">Hub<br></a>
      </div>
      <div class="footer_flex-3">
        <div class="footer_flex-3_size">
          <h1>CM 핵심 키워드</h1>
          <div class="br_class2"></div>
          <ul>
            <li>
              <p>게임</p>
            </li>
            <li>
              <p>프로그래밍</p>
            </li>
            <li>
              <p>인공지능</p>
            </li>
            <li>
              <p>4차산업</p>
            </li>
            <li>
              <p>열정</p>
            </li>
            <li>
              <p>개발자</p>
            </li>
            <li>
              <p>경험</p>
            </li>
            <li>
              <p>경쟁력</p>
            </li>
            <li>
              <p>포트폴리오</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer_flex-4">
        <div>
          <a href="https://github.com/CM-html/test" target="blank"><img src="../static/images/0000-all-github(footer).png" alt="">
        </div>
        <div>
          <a href="https://www.facebook.com/CM-%EB%8F%99%EC%95%84%EB%A6%AC-109222635034327" target="blank"><img
              src="../static/images/0000-all-facebook(footer).png" alt=""></a>
        </div>
        <div>
          <a href="https://www.instagram.com/cm_club_2022/" target="blank"><img src="../static/images/0000-all-instagram(footer).png"
              alt=""></a>
        </div>
        <div></div>
      </div>
    </footer>
  </div>
</body>

</html>